{% extends 'base.html' %}
{% load static %}
{% block title %}Video List{% endblock %}
{% block breadcrumb %}Video List{% endblock %}
{% block content %}
    <div class="m-3 max-h-full rounded-sm border-2 border-gray-50 shadow-sm bg-white">
        <dl class="divide-y divide-gray-200 text-sm *:even:bg-gray-50">
            {% for name, size, time in media_files %}
                <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <a href="{% url 'video' video_filename=name %}">
                        <dt class="font-medium text-gray-900">{{ name }}</dt>
                    </a>
                    <dd class="text-gray-700 sm:col-span-2">
                        {{ size }} - {{ time }}
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>
{% endblock %}
{% block scriptfooter %}{% endblock %}
